.content {
  max-width: 400px;
  margin: auto;
  padding-top: 16px;
}

body {
  background-color: rgb(23, 24, 28);
  color: rgb(217, 215, 210);
  min-height: 100%;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

#source {
  display: none;
}
